html {
	background: #8E2639;
}

body {
	font-family:Arial,Helvetica,sans-serif !important;
	height: 1000px;
	}


/*CytoScape Ids*/

#note {
	float: left;
	margin: 10px;
	}
	
#cytoscapeweb {
	float: left;
	width: 75%;
    height: 65%;
	border: 1px solid #888;
    position: relative;
	background: #5D7CBA;
	margin-left: 6px;
	margin-bottom: 6px;
	}
	
#cy_fs {
	float: left;
	width: 100%;
    height: 100%;
	border: 1px solid #888;
    position: relative;
	background: #5D7CBA;
	margin-left: 6px;
	margin-bottom: 6px;
	}
	


/* Graphical Elements */
	
	
#box {
	width: 95%;
	border-radius:10px;
    box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	margin-right:20px;
    margin-left:20px;
    background-color:white;
    min-height:80%;
}